.App{
  font-family: Arial, sans-serif;
}
.App-header{
  display: flex;
  color: rgb(235, 235, 235);
  background-color: rgb(196, 34, 255);
  align-items: center;
}

.Head{
  background-color: rgb(196, 34, 255);
  width: 100%;
  cursor:pointer;
  font-size: 20px;
  text-align: center;
}

.walleticon{
  font-family: 'Montez', cursive;
  display: flex;
  padding: 20px;
  font-size: 50px;
  cursor:pointer;
  margin-left: 40px;
}

.rupeeicon{
  font-family: 'Montez', cursive;
  display: flex;
  padding: 20px;
  font-size: 50px;
  cursor:pointer;
  margin-right: 40px;
}

.forminpt{
width: 30%;
margin: 50px;
padding: 10px;
border: 1px solid #000000;
border-radius: 10px;
background-color: #6d6d6d;
box-shadow: 10px 10px 10px rgb(0, 0, 0);
text-align: center;
color: rgb(255, 255, 255);
}

label{
font-size: 40px;
}

input{
  text-align: center;
  width: 70%;
  height: 40px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 1%;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

button {
  background-color: #4caf50;
  color: white;
 margin: 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #027509;
}

table{
  width: 100%;
  margin-top: 20px;
}

th, td{
  border: 1px solid #ddd;
  padding: 2px;
}

th{
  background-color: #6000b5;
  color: white;
}

.delete-btn{
  background-color: red;
}

.delete-btn:hover{
  background-color: rgb(255, 140, 0);
}

.banceamt{
  font-size: 20px;
}

.addbtn{
  margin-top: 20px;
  width: 200px;
  display: flex;
  color: white;
  font-size: 50px;
}

.deltbtn{
  color: white;
  font-size: 30px;
}